<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Tutorial</title>
</head>
<body>
    <table border="0">
        <th>Search Results</th>
        {% for key, value in result.items() %}
        <tr>
            <td><a href="/artists/{{ key }}">{{ value }}</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>