<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Tutorial</title>
</head>
<body>
    <h1>Artist Page: {{ name }}</h1>
    <h2>({{ id }}/{{ version }})</h2>
</body>
</html>